<template>
<div>
    <div v-for="(category, index) in crypto.slice(0,3)" :key="index">
    <div>
      <span>{{category.name}}</span><br>
    </div>
   </div> 
</div>

</template>
<script>
const axios = require('axios').default;

export default {
  name: 'recentlyAdded',
  data(){
    return {}
  },
  computed:{
      crypto(){
          return this.$store.getters.getNewCrypto
      }
  },
  methods:{
  },
  created(){
    this.$store.dispatch('getNewCrypto')
  }
}
</script>

<style scoped lang="scss">

</style>
