<template>
    <div>
        <headerMain></headerMain>
        <div class="top_cryptocurrency">
        <h2>Топ-100 криптовалюты на рынке</h2>
        </div>
         <h2 class="cryptocurrencies">Криптовалюты</h2>
        <VueTabulator v-model="crypto" :options="options" />
            <footerPart></footerPart>
    </div>
</template>

<script>
const axios = require('axios').default;
import headerMain from '@/components/Header.vue'
import footerPart from '@/components/Footer.vue'

export default {
  name: 'recentlyAdded',
  data(){
    return {
                options: {
                    height: 840,
                    layout: 'fitColumns',
                    pagination:true, 
                    pagination: "local",
                    paginationSize: 20,
                    columns: [
                        {
                            title: '#',
                            field: 'number'
                        },
                        {
                            title: 'Название',
                            field: 'name'
                        },
                        {
                            title: 'Цена',
                            field: 'price'
                        },
                        {
                            title: '24ч %',
                            field: 'percent_change_24h'
                        },
                        {
                            title: '7д %',
                            field: 'percent_change_7d'
                        },
                        {
                            title: 'Капитализация',
                            field: 'market_cap'
                        },
                    ],
                }
            }
        },
  computed:{
      crypto(){
          return this.$store.getters.getCryptoLisiting
      }
  },
  methods:{
  },
  created(){
    this.$store.dispatch('getListingCrypto')
  }
}
</script>

<style scoped lang="scss">
@import '~tabulator-tables/dist/css/semantic-ui/tabulator_semantic-ui.min.css';
.tabulator{
  margin:0 auto;
  width:70%;
}
.top_cryptocurrency{
  background: #FEFEFE;
  box-shadow: 0px 4px 93px #EFEFEF;
  border-radius: 30px;
  width: vw(1730);
  height: vw(663);
  margin-left: vw(85);
  padding-top: vw(66);
  margin-top: vw(70);
}
.top_cryptocurrency h2{
  font-weight: 500;
  font-size: vw(50);
  line-height: vw(68);
  color: #343030;
  margin: 0 0 vw(60) vw(71);
}
.cryptocurrencies{
  font-weight: 500;
  font-size: vw(50);
  line-height: vw(68);
  color: #343030;
  margin: vw(70) 0 vw(60) vw(100)
}
.column_names{
  margin: 0 vw(110);
  padding: vw(33) vw(28);
  display: flex;
  border-top: 1px solid #A09FA3;
  border-bottom: 1px solid #A09FA3;
}
.column_names p:nth-child(2) {
  margin: 0 vw(57) 0 vw(63);
}
.column_names p:nth-child(4) {
  margin: 0 vw(80) 0 vw(267);
}
.column_names p:last-child{
  margin-left: vw(88);
}
.column_names p{
  font-weight: 700;
  font-size: vw(34);
  line-height: vw(46);
  color: #4D4E56;
}
@media (max-width: 768px){
  .purposes div{ 
    display: flex;
    flex-direction: column;
  }
  .statistics{
        display: flex; 
        flex-direction: column;
    }
}
</style>
