<template>
<div>
    <div v-for="(category, index) in crypto" :key="index">
    <div>
      <span>{{category.name}}</span><br>
      <span>{{category.price}}</span><br>
      <span>{{category.percent_change_24h}}</span><br>
      <span>{{category.percent_change_7d}}</span><br>
      <span>{{category.market_cap}}</span><br>
    </div>
   </div> 
</div>

</template>
<script>
const axios = require('axios').default;

export default {
  name: 'Listing',
  data(){
    return {}
  },
  computed:{
      crypto(){
          return this.$store.getters.getCryptoLisiting
          
      }
  },
  methods:{
  },
  created(){
    this.$store.dispatch('getListingCrypto')
  }
}
</script>

<style scoped lang="scss">

</style>
