<template>
<div>
    <headerMain></headerMain>
      <section>
      <div class="container"> 
            <div class="head-title"> 
                <h1>{{params.name}} </h1>
                <span>{{params.symbol}} </span>
              <div class="head-price">
                <h2>Цена</h2>
                <p>{{params.price}} ₽</p>
            </div>
              </div>
          <div class="head-info">
            <div class="head-info-cap">
              <h2>Рыночная капитализация</h2>
              <span>{{params.market_cap}} ₽</span>
            </div>
            <div  class="head-info-change24"><p>{{parseFloat(params.percent_change_24h).toFixed(4) * 100}}%</p></div>
          </div>      
      </div>
    </section>
    <line-chart :title="params.symbol" />
    <footerPart></footerPart>
</div>
</template>

<script>
import headerMain from '@/components/Header.vue'
import footerPart from '@/components/Footer.vue'
import LineChart from '@/components/LineChart.vue'

export default {
  name: "coinInfo",
  data(){
    return{
    }
  },
    components: {
      headerMain,
      footerPart,
      LineChart
  },
  created() {
    this.params = this.$route.params.coininfo;
}
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main"; 
.container{
  margin-top:vw(96);
}
.head-title{
  display: flex;
  align-items: center;
  flex-direction: row;

  h1{
    font-style: normal;
    font-weight: 500;
    font-size: vw(170);
    display: flex;
    color: #343030;
  }
  span{
    font-weight: 500;
    font-size: vw(80);
    line-height: vw(109);
    display: flex;
    align-items: flex-end;
    color: #4D4E56;
  }
}
.head-price{
  margin:0 0 0 auto;
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  h2{
    font-weight: 500;
    font-size: vw(60);

    display: flex;
    align-items: flex-end;
  }
  p{
    font-weight: 500;
    font-size: vw(60);
    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #343030;
  }
}
.head-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head-info-cap{
    color: #343030;
    h2{
      font-weight: 500;
      font-size: vw(40);
      display: flex;
      align-items: flex-end;
    }
    span{
      font-weight: 500;
      font-size: vw(40);
      display: flex;
      align-items: flex-end;
    }
}
.head-info-change24{
  margin: 0 0 0 auto;
  box-sizing: border-box;

  background: rgba(240, 240, 240, 1);
  border: 1px solid #000000;
  border-radius: vw(30);

  P{
    padding:vw(20);
    font-size:vw(36);
  }
}
</style>
