<template>
<div>
    <headerMain />
    <div class="box_top_cryptocurrency">
      <h1>Криптовалюты</h1>
      <div class="top_cryptocurrency">
        <top-crypto :nextPage="'login'" class="topcrypto":content="news" :title="'Новинки'" :dataList="recentlyAdded.slice(0,3)" />
        <top-crypto :content="biggestrate" :title="'Наибольший рост'" :dataList="gainers.slice(0,3)"></top-crypto>
      </div>
    </div>
    <h2 class="cryptocurrencies">Топ-100 криптовалюты на рынке</h2>
    <div class="column_names">
      <vue-good-table :columns="columns" :rows="crypto" @on-row-click="onRowClick" styleClass="vgt-table condensed"  :pagination-options="{
            enabled: true,
            mode: 'records',
            perPage: 20,
          }">
          <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'market_cap'">
                <span style="font-weight: bold;">{{props.row.market_cap}}</span> 
              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          <Loading v-if="load"/>
          </vue-good-table>
    </div>
    <footerPart></footerPart>
</div>
</template>

<script>
import headerMain from '@/components/Header.vue'
import footerPart from '@/components/Footer.vue'
import TopCrypto from '@/components/mainPageElement/TopСrypto.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import Loading from "@/components/Loading.vue"

export default {
  name: 'MainPage',
  data(){
    return {
      load: true,
      news:         
      {
          title: "Новинки",
          img: require('@/assets/img/watch.svg')
      },
      biggestrate:         
      {
          title: "Наибольший рост",
          img: require('@/assets/img/gainers.svg')
      },
        columns: [
            {
                label: '#',
                field: 'number'
            },
            {
                label: 'Название',
                field: 'name'
            },
            {
                label: 'Цена',
                field: 'price',
                type: 'decimal',
                formatFn: this.formatFn,
            },
            {
                label: '24ч %',
                field: 'percent_change_24h',
                type: 'percentage',
                tdClass: this.tdClassFunc24h,
            },
            {
                label: '7д %',
                field: 'percent_change_7d',
                type: 'percentage',
                tdClass: this.tdClassFunc7d,
            },
            {
                label: 'Капитализация',
                field: 'market_cap',
                type:'number',
                formatFn: this.formatFn,
            },
        ],
    }
},
  components: {
      headerMain,
      footerPart,
      TopCrypto,
      VueGoodTable,
      Loading
  },
  computed:{
      crypto(){
          return this.$store.getters.getCryptoLisiting
      },
      recentlyAdded(){
        return this.$store.getters.getNewCrypto
      },
      gainers(){
        return this.$store.getters.getCryptoGainers
      },
  },
  methods:{
    onRowClick(params) {
     this.$router.push({
    name: 'CoinInfo', 
    params: {
         coininfo: params.row
    }
});
  },
    tdClassFunc24h(row) {
    if (row.percent_change_24h > 0) {
      return 'green-class';
    }
    return 'red-class';
  },
  tdClassFunc7d(row) {
    if (row.percent_change_7d > 0) {
      return 'green-class';
    }
    return 'red-class';
  },
  formatFn: function(value) {
  return  value + '₽';
}
  },
  created(){
    this.$store.dispatch('getNewCrypto')
    this.$store.dispatch('getGainersCrypto')
    this.$store.dispatch('getListingCrypto')
  }
}
</script>

<style scoped lang="scss"> 
@import "@/assets/styles/main"; 

.green-class span{
  color:green;
}
.red-class span{
  color:red;
}
.box_top_cryptocurrency{
  background: #FEFEFE;
  box-shadow: 0px 4px 93px #EFEFEF;
  border-radius: vw(30);
  width: 84.9%;
  margin: vw(70) auto 0 auto;
  padding: vw(66) vw(50) vw(59) vw(50)
  
}
.box_top_cryptocurrency h1{
  font-weight: 500;
  font-size: vw(50);
  line-height: vw(68);
  color: #343030;
  margin: 0 0 vw(60) vw(71);
}
.cryptocurrencies{
  font-weight: 500;
  font-size: vw(50);
  line-height: vw(68);
  color: #343030;
  margin: vw(70) 0 vw(60) vw(100)
}
.column_names{
  margin: 0 auto;
  width: vw(1400);
}

.top_cryptocurrency{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px){
  .purposes div{ 
    display: flex;
    flex-direction: column;
  }
  .statistics{
        display: flex; 
        flex-direction: column;
    }
  .top_cryptocurrency{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 vw(50);
  }
  .box_top_cryptocurrency h1{
    font-weight:500;
    font-size:m_vw(36);
    line-height:m_vw(49);
  }
  .topcrypto{
    margin-bottom:vw(28);
  }
  .cryptocurrencies{
    font-size:m_vw(36);
  }
}
</style>