<template>
<div>
    <headermv></headermv>
    <reg></reg>
    <footerPart></footerPart>
</div>
</template>
  
<script>
import headermv from '@/components/Header.vue'
import reg from '@/components/Registration.vue'
import footerPart from '@/components/Footer.vue'

export default {
  name: 'LoginPage',
  components: {
      headermv,
      reg,
      footerPart,
  }
}
</script>

<style scoped lang="scss"> 
</style>