<template>
  <div class="footer">
    <div class="logo">
      <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="65" cy="65" r="65" fill="#343030"/>
      <line x1="79.9333" y1="97.0667" x2="79.9333" y2="33.6518" stroke="white" stroke-width="10"/>
      <line x1="47.8667" y1="97.0667" x2="47.8667" y2="33.6518" stroke="white" stroke-width="10"/>
      <line x1="32.9333" y1="63.6" x2="96.3483" y2="63.6" stroke="white" stroke-width="8"/>
      </svg>
      <span>HKCOINSELLER</span>
    </div>
    <div class="footer_info_box">
      <div>
        <h3>Компания</h3>
        <router-link to="/" class="footer-link">Личный кабинет</router-link>
        <router-link to="/" class="footer-link">Проводник блокчейна</router-link>
      </div>
      <div>
        <h3>Поддержка</h3>
        <router-link to="/" class="footer-link">О нас</router-link>
        <router-link to="/" class="footer-link">Условия использования</router-link>
      </div>
      <div>
        <h3>Социальные сети</h3>
        <router-link to="/" class="footer-link">Facebook</router-link>
        <router-link to="/" class="footer-link">Twitter</router-link>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "@/assets/styles/main";
.footer{
  background: #FEFEFE;
  box-shadow: 0px 4px 93px #EFEFEF;
  margin-top: vw(40);
  padding-top: vw(6);
}
.footer svg{
  height: vw(100);
  width: vw(100);
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: vw(70);
  margin-bottom: vw(60);
  margin-left: vw(60);
  margin-top: vw(70);
}
.logo span{
  font-weight: 400;
  font-size: vw(50);
  line-height: vw(65);
  color: #343030;
  margin-left: vw(43);
}
a{
  color: #343030;
}
.footer_info_box{
  margin-left: vw(90);
  margin-right: vw(114);
  display: flex;
}
.footer_info_box h3{
  font-weight: 700;
  font-size: vw(36);
  line-height: vw(49);
  color: #343030;
  margin-bottom: vw(70);
}
.footer-link{
  font-weight: 500;
  font-size: vw(36);
  line-height: vw(49);
  color: #343030;
  margin-bottom: vw(20);
}
.footer_info_box div{
  display: flex;
  flex-direction: column;
  margin-right: vw(120);
  margin-bottom: vw(130);
}
@media (max-width: 768px){
  .footer_info_box{
    flex-direction: column;
  }
  .logo svg{
    width: m_vw(80);
    height: m_vw(80);
  }
  .logo span{
    font-weight: 400;
    font-size: vw(70);
    line-height: vw(51);
  }
  .footer_info_box h3{
    font-weight: 700;
    font-size: m_vw(22);
    line-height: m_vw(32);
    margin-bottom: vw(15);
  }
  .footer-link{
    font-weight: 500;
    font-size: m_vw(22);
    line-height: m_vw(32);
  }
  .footer_info_box div{
    margin-bottom: vw(20);
  }
}
</style>
