<template>
    <div>
      <Loading v-if="load"/>
        <LineChartGenerator
            :chart-options="chartOptions"
            :chart-data="chartData"
            :width="400"
            :height="400"
        />
    </div>

</template>

<script>
import { Line as LineChartGenerator } from 'vue-chartjs/legacy'
import Loading from "@/components/Loading.vue"

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  LineElement,
  LinearScale,
  CategoryScale,
  PointElement
} from 'chart.js'

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  LineElement,
  LinearScale,
  CategoryScale,
  PointElement
)

export default {
  name: 'LineChart',
  components: {
    LineChartGenerator, Loading
  },
  data() {
    return {
      load: true,
      chartData: {
        labels: [],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#f87979',
            data: []
          }
        ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  props: {
    title: {
        type: String
    },
  },
  computed:{
    async crypto(){
        return await this.$store.getters.getHdata
    },
},
  async created(){
    // console.log(this.title)
    await this.$store.dispatch('getHData', this.title)
    let test = await this.crypto
    test.forEach((item, id) => {
      this.chartData.labels.push(item.time)
      this.chartData.datasets[0].label = this.title
      this.chartData.datasets[0].data.push(item.price)
    })
    this.load = false
  }
}
</script>
