<template>
    <transition name="fade">
        <router-view/>
    </transition>
</template>

<style lang="scss">

@import "@/assets/styles/main";

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
